@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";
@source "./index.html" "./src/**/*.{js,ts,jsx,tsx}";

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fffaf3;
  color: #1A1A1A;
  margin: 0;
  padding: 0;
}
